/* :root {
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
}

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
} */

/* Global */
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

h2 {
  font-size: 48px;
  margin-bottom: 20px;
}

h3 {
  font-size: 28px;
  margin-bottom: 20px;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

a {
  text-decoration: none;
  border-radius: 10px;
}

a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

/* Navbar */

#navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.navbar__logo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.navbar__logo img {
  width: 80px;
  height: 80px;
}

.navbar__logo a {
  font-size: 24px;
  margin: auto 0;
  color: #fff;
  position: relative;
  top: -5px;
  font-weight: 600;
}

.navbar__menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.navbar__menu__item a {
  padding: 8px 12px;
  margin-right: 5px;
  color: #fff;
  font-weight: 600;
}

/* Home */

#home {
  background: url('./assets/images/background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 0 10px 40px;
  text-align: center;
}

.home__avatar {
  display: block;
  margin: 25px auto 50px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 4px solid #fff;
}

.home__title {
  font-size: 48px;
  color: #fff;
  margin-bottom: 20px;
}

.home__description {
  display: block;
  font-size: 30px;
  color: #fff;
  margin-bottom: 20px;
}

.home__contact {
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  padding: 8px 12px;
  border: 2px solid white;
  border-radius: 4px;
}

/* About, Skills, Work, Testimonials, Contact */
.center {
  margin: 0 auto;
  max-width: 1200px;
  padding: 50px;
  text-align: center;
}

.no-center {
  max-width: none;
}

/* About */

.about__paragraph {
  margin-bottom: 80px;
}

.about__majors {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}

.major__icon {
  width: 170px;
  height: 170px;
  font-size: 70px;
  color: #73aace;
  line-height: 170px;
  border: 1px solid #73aace;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 16px;
  transition: 200ms;
}

.major__icon:hover {
  color: #fff;
  background-color: #73aace;
}

.major__title,
.major__description {
  color: #4d4d4d;
}

.major__title {
  font-size: 18px;
  font-weight: 700;
}

.major__description {
  font-size: 16px;
}

.career {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.career__description {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  text-align: left;
  color: #4d4d4d;
}

.career__logo {
  display: block;
  width: 100px;
  height: 100px;
  margin-right: 30px;
}

.career__name {
  font-weight: 700;
}

/* Skills */

#skills {
  background-color: #73aace;
}

.skills__container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  padding: 50px;
  text-align: center;
}

.skills__paragraph {
  margin-bottom: 80px;
}

.skillset {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-self: center;
}

.skill {
  margin-bottom: 8px;
}

.skill__description {
  display: flex;
  font-display: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  color: #4d4d4d;
}

.skill__bar {
  width: 100%;
  height: 5px;
  background-color: #616161;
}

.skill__value {
  height: 5px;
  background-color: red;
}

.skillset__left {
  flex-basis: 60%;
  background-color: rgba(255, 255, 255, 0.65);
  padding: 20px 40px;
}

.skillset__right {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 0.55);
}

.etc {
  background-color: rgba(255, 255, 255, 0.35);
  flex: 1;
}

.tools__list li,
.etc__list li {
  display: block;
  margin: 5px 0;
}

/* Work */
#work